.workerInitial {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;


   .small .workerAvatar {
  border-radius: 100% ;
  margin-left: 24px;
  width: 48px;
  height: 48px;
}
.large .workerAvatar {
  border-radius: 100%;
  margin-left: 24px;
  border-radius: 100%;
  margin-left: 24px;
  width: 72px;
  height: 72px;
}


}

.workerName {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 56px;
}
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 56px;
}
.workerMail {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.72;
}
.hidden {
  display: none; // Стиль для скрытия элемента
}
