.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10%; /* Отступ сверху на 10% от высоты экрана */
  left: 10%; /* Отступ слева на 10% от ширины экрана */
  width: 80%; /* Ширина окна 80% от ширины экрана */
  height: 80%; /* Высота окна 80% от высоты экрана */
  overflow-y: auto; /* Включаем вертикальный скролл при необходимости */
  background-color: black; /* Цвет фона */
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ширина контента 100% от родительского контейнера */
  height: 100%; /* Высота контента 100% от родительского контейнера */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white; /* Цвет кнопки */
}

.achievementsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.achieveItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achieveTitle {
  margin-top: 10px;
  text-align: center;
  color: white; /* Цвет заголовка */
}
