.workerData {
  visibility: inherit;
}

.workerInitial {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.avatarWrapper {
  position: relative;
  width: fit-content;
}

.editIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;

  p {
    position: relative;
    font-size: 11px;
    left: 13px;
    top: -4px;
  text-align: center;
  }
}

.avatarWrapper:hover .editIcon {
  display: block; // Показываем иконку при наведении
}

.small .workerAvatar {
  border-radius: 100% ;
  margin-left: 24px;
  width: 48px;
  height: 48px;
}
.large .workerAvatar {
  border-radius: 100%;
  margin-left: 24px;
  border-radius: 100%;
  margin-left: 24px;
  width: 72px;
  height: 72px;
}

.workerName {
  font-size: 44px;
  color: #fff;
  font-weight: 700;
  line-height: 56px;
}


.workerMail {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.72;
}

.workerDataTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 27px;
}
h2 {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4%;
  text-align: left;
}

.workerInformation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.workerInformation > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.editableField {

  border: 1px solid orange !important;
}

.workerInformation input,
.workerInformation .react-datepicker-wrapper {
  border: 1px solid white;
  border-radius: 12px;
  //field-sizing: content;
  color: white;
  margin-bottom: 12px;
  &:enabled {
    background: rgb(54, 12, 94);
  }

  &:disabled {
    cursor: default;
  }
  &:enabled {
    background: #f4f4f405;
  }

}

.workerInformation input[type=text],  //чтобы инпут дата-пикера не выезжал за пределы контейнера.
.workerInformation textarea {  //но так имя не влезает!
    box-sizing: border-box;
  
  //или:
  //width: -webkit-fill-available !important;
}
/*
.workerInformation .react-datepicker-wrapper {
    width: calc(100% - 22px); 
}
.react-datepicker-wrapper {
  width: 100%;
  overflow: hidden;
  .react-datepicker__input-container {
    width: 100% !important;
  }
}
.react-datepicker-wrapper input {
  width: 100% !important;
  box-sizing: border-box;
}
*/

.workerInformation button {
  border: none;
  background: rgb(58, 58, 58);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.workerLogin {
  visibility: inherit;

  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerFirstName {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerMiddleName {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerLastName {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerBirthday {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerNumber {
  visibility: inherit;
  input{
    background: none;
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerStartdate {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
.workerPosition {
  visibility: inherit;
  input{
    border: 1px solid white;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
  }
}
