.workerRanksMenu {
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
    border-radius: 20px;
    max-width: 680px;
    width: 100%;
}

.workerRanksIcon {
  width: 40px;
  height: 40px;
  padding: 15px 50px;
}

.workerRanksSum {
  color: white;
  font-size: 35px;
  text-align: right;
  width: 150px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  margin-left: auto; /* Сместить вправо */
  margin-top: 7px;
}

.workerRanksUnit {
  font-size: 35px;
  right: 33px;
  padding-right: 20px;
  margin-top: 7px;
}
