.workerPage {
  max-width: 80vw;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  justify-content: space-around;
  gap: 54px;
}
.workerSection {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.workerInitial {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}
.workerBtnMenu {
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 20px;
    list-style: none;
  }
}

.workerMain {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(#f4f4f4, 0.64),
    rgba(#f4f4f4, 0.16)
  );
  opacity: 0.8;
}

.workerData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workerBtnMenu{
  position: absolute;
    margin-top: 58px;
}
.workerTeams {
  display: flex;
  flex-direction: column;
}


.workerRanksAndAchievements {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  
  .workerRanks {
    visibility: inherit;
  }
  .workerAchievements {
    visibility: inherit;
  }
}

