button {
  color: white;
}
.banWorkerButton {
  visibility: inherit;
}
.changeWorkerButton {
  visibility: inherit;
}
.deleteWorkerButton {
  visibility: inherit;
}
.linkWorkerButton {
  visibility: inherit;
}
