button {
  color: white;
}
.banWorkerButton {
  visibility: inherit;
}
.ChangeWorkerButton {
  visibility: inherit;
}
.ChangeWorkerInformationButton {
  visibility: inherit;
}
.deleteBanWorkerButton {
  visibility: inherit;
}
.linkWorkerButton {
  visibility: inherit;
}
