.worker-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.worker-initial {
  display: flex;
  flex-direction: row;
}
.worker-nav-menu {
  ul{
  display: flex;
  flex-direction:row;
  }
}

.worker-main {
  display: flex;
  flex-direction:row;
  flex-grow: 1;
  justify-content: space-between;
}

