.team-filter {
  position: relative;
  margin-top: 32px;
  .team-filter-button {
    border-radius: 16px;
    text-decoration: none;
    border: 0.5px solid #f4f4f410;
    color: white;
    opacity: 0.8;
    font-size: 16px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #f4f4f40a;
      transform: scale(1.05);

      &:active {
        background-color: #f4f4f40a;
        transform: scale(0.95);
      }
    }
  }
}
.team-filter-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}
.team-filter-item {
  padding: 10px;
  cursor: pointer;
  &:hover {
    border-radius: 12px;
    background-color: #444; // Цвет при наведении
  }
}
.arrow {
  display: inline-block;
  margin-left: 5px;
}
