@import "../styles/configcss.scss";
@import "./fonts";

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(160deg, rgba(26, 0, 50, 1) 0%, rgba(54, 12, 94, 1) 99%); //ОБЩИЙ ГРАДИЕНТ
  --additional-background-color: rgba(67, 16, 118, 1);  //фон1 для дополнительных элементов
  --additional-2-background-color: rgb(35, 8, 61);;  //фон2 для дополнительных элементов
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




@media (prefers-color-scheme: light) {
  :root {
    color: white;
    background-color: $main-background-color;
  }
}

.test {
  color: red;
}

#root {
  margin: 0 auto;
}

div {
  button {
    background-color: $main-background-color;
  }
}
ul {
  padding-inline-start: 0px;
}
