.teams-achievements {
  margin: 0px 40px 0px 40px;
}

.teams-achievements-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.edit-teams {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
