.workers-achievements {
  margin: 0px 40px 0px 40px;
}

.workers-achievements-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.edit-workers {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
