.achievementsConstructor {
  display: flex;
  flex-direction: column;
  align-items: center;

  .titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
      margin-left: 1rem;
    }
  }

  .achievementsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;

    .achievementCard {
      background: #fff;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      img {
        width: 100%;
        height: auto;
        // If your images are not square, you might want to enforce a ratio
      }

      .cardContent {
        padding: 1rem;

        h2 {
          color: #333;
          font-size: 1.25rem;
        }

        p {
          color: #666;
          font-size: 0.9rem;
        }
      }
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(#f4f4f4, 0.64),
      rgba(#f4f4f4, 0.16)
    );
    opacity: 0.8;
  }
  .createAchievementButton {
    background-color: #4caf50; // A green shade, change as per your theme
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #43a047; // A darker green shade for hover state
    }
  }
}
