.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }

  .titleInput,
  .rankInput {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1rem;
    background-color: #f4f4f40f;
  }
  .fileDownload {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1rem;
    background-color: #f4f4f40f;
  }
  textarea,
  select {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 1rem;
    background-color: #f4f4f40f;
  }

  textarea {
    resize: vertical;
  }

  button,
  input[type="file"] {
    width: calc(50% - 10px);
    height: 48px; /* Распределение кнопок на 50% ширины контейнера */
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    background: #f4f4f405;
    border: 1px solid #f4f4f414;
    color: #f4f4f4;
    transition: background 0.3s ease;

    &:hover {
      background: rgba(106, 17, 195, 0.32);
      border: 1px solid rgba(118, 45, 191, 0.32);
      color: white;
      opacity: 0.8;
    }
  }

  .inputContainer {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.formActions {
  display: flex;
  justify-content: space-between;

  .cancelButton {
    background: #ff4d4d;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: background 0.3s ease;

    &:hover {
      background: #ff1a1a;
    }
  }

  .submitButton {
    background: #4caf50;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: background 0.3s ease;

    &:hover {
      background: #45a049;
    }
  }
}
