.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modalContent {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modalTitle {
  font-size: large;
}
.formCntainer {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
}
.formGroup {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  .fileInputContainer {
    display: flex;
    align-items: center;

    .fileInput,
    .uploadButton {
      display: flex;
    }
  }
}

// Стили для кнопок выбора файла
.fileInput {
  display: flex;
}

// Стили для кнопки загрузки
.uploadButton {
  display: flex;
}

.formActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton {
  background: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.submitButton {
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
