.workerRanksMenu {
  position: relative;
  left: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
    border-radius: 20px;
}

.workerRanksTitle {
  visibility: inherit;
}
.workerRanksIcon {
  width: 40px;
  height: 40px;
  padding: 15px 50px;
}
.workerRanksInput {

  margin: 20px;
  background-color: #1C1C1C;
  background: none;
  color: white;
  font-size: 35px;
  text-align: right;
  width: 150px;
  height: 40px;
  border: none;
  box-sizing: border-box;
  margin-left: auto; /* Сместить вправо */
  /*
  &:hover {
    background: #444; 
    opacity: 1;
    transform: scale(1.05);
  }
  */
  &:active {
    background: #f4f4f405;
  }
  
}
.workerRanksUnit {
  position: relative;
  top: 13px;
  font-size: 35px;
  right: 37px;
  padding-right: 20px;
}

