.searchInputContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
  border: none;
}

.searchWorkersInput {
  color: white;
  width:488px;
  height: 49px;
  border: none;
  background:
    url("@/assets/search-icon.svg") no-repeat;
  background-position: 6px 9px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(244, 244, 244, 0.04);
  padding-left: 30px; /* Отступ для иконки поиска */
  font-size: 14px;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }

  &.active {
    background-color: #f4f4f40a;
    border: none;
    opacity: 1;
    transform: scale(0.95);
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Цвет плейсхолдера */
  }
}
