.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Выше всех остальных элементов */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Чёрный полупрозрачный фон основного окна */
}

.modalContent {
  position: fixed;    //position: relative;
  z-index: 1;
  max-width: 800px;
  max-height: 90%;
  width: 80%; 
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(160deg, rgba(40,1,79,1) 0%, rgba(84,20,148,1) 99%);
  box-sizing: border-box;
//box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//backdrop-filter: blur(1px);
//transition: transform 0.3s ease-out;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.textTitle  {
  color: white;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 8px;
}

.imagesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  max-height: 60vh;

  overflow-y: auto;
}
.card {
  display: flex;
  width: 140px;
  height: 200px;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/CardAchievementBG.png);
  background-repeat: no-repeat;
  background-position: center center center;
}

.imageCard {
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 75px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  margin-top: 18px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;

  &.selected {
    border: 3px solid #4caf50;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .cardContent {
    border-radius: 12px;
    text-overflow: write-space;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 90%;

    h5 {
      margin: 0;
    }
  }
}
.cardDescription {
  margin: 5px 0 0;
  width: 40px;
  height: 20px;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
  padding: 10px 0;

  .cancelButton {
    margin-top: 20px;
    background: #6A11C3;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  .confirmButton {
    margin-top: 20px;
    background: #AB57FF;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition:
      background-color 0.3s,
      transform 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
