.workers {
  display: grid;
  position: relative;
  z-index: 0;
  padding-left: 40px;
  padding-left: 40px;

  .workersTitle {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
    h1{
      font-size: 44px;
    }
    img{
      position: relative;
      margin-right: 20px;
      width: 85px;
      height: 70px;

    }
    
  }
  .workersBtn {
    display: flex;
    align-items: center;
    width: 1245px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(244, 244, 244, 80%);
  }
  .workersCards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 135px;
    .workersList {
        
        .workersList__item{
            display: grid;
            gap: 24px;
        }
        
      .workersList__item li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 32px;
        width: 850px;
        box-sizing: border-box;
        border-radius: 28px;
        backdrop-filter: blur(12px);
        background: rgb(54, 12, 94);
        transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
        a {
          text-decoration: none;
            button{
              width: 850px;
              background: none;
               border: none;
              cursor: pointer;
            }
        }
      }
      .workersTeamName {
        opacity: 0.8;
      }
    }
    .workersNotInTheTeam {
        .workersList__item{
            display: grid;
            gap: 24px;
        }
      .workersList__item li {
        display: flex;
        justify-content: space-between;
        padding-right: 32px;
        width: 640px;
        box-sizing: border-box;
        border-radius: 28px;
        backdrop-filter: blur(12px);
        background: rgba(244, 244, 244, 0.02);

        a {
          text-decoration: none;
        }
      }
      .workersAddTeam {
        padding-top: 10px;
      }
    }
  }
}


.formFilling__rightContent {
  visibility: inherit;
}
.notFound{
  visibility: inherit;
}