.teamsAchievements {
  margin: 0px 40px 0px 40px;
}

.teamsAchievementsHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.editTeams {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
