.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000; /* Выше всех остальных элементов */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Чёрный полупрозрачный фон основного окна */
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Включаем вертикальный скролл при необходимости */
  width: 80%; /* Ширина контента 100% от родительского контейнера */
  height: 80%; /* Высота контента 100% от родительского контейнера */
  padding: 28px 32px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--additional-2-background-color); /* фон контента */
}
.closeButton {
  position:sticky;
  display: flex;
  align-self:flex-end;
  top: 15px;
  
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white; /* Цвет кнопки */
}

.titleContainer {
  display: flex;

  img {
    margin-top: 18px;
    width: 48px;
    height: 40px;
  }

  h1 {
    align-items: left;
    justify-self: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(244, 244, 244, 1);
  }
}

.searchInput {
  display: flex;
  align-self: start;
  width: 100px;
  padding-bottom: 24px;
}


.achievementsList {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.achieveCard {
  margin-top: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 210px;  
  height: 274px;  //НАДО БОЛЬШЕ
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--background-image);
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;
    }
}

.achieveButton {
  width: 210px;
  height: 274px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit; /* наследует цвет у родителя */
}

.achieveTitle {
  margin-top: 10px;
  text-align: center;
  color: inherit; /* наследует цвет у родителя */
}

.achieveImg {
  width: 120px;
  height: 120px;
  margin-top: 12px;
  z-index: 1;
}


.achieveContent {
  padding: 1rem;
  text-align: center;
  z-index: 1;
  width: 210px;
  word-wrap: break-word; // Автоматический перенос текста

  .achieveTitle {
    margin: 10px 5px; 
    color: rgb(244, 244, 244);
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  .achieveDescription {
    margin: 10px 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: center;
    color: rgb(244, 244, 244);
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis; // Добавление троеточия в конце текста
    display: -webkit-box;
    -webkit-line-clamp: 2; // Ограничение текста до двух строк
    -webkit-box-orient: vertical;
  }

  .achieveRank {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin: 20px 5px 10px;
  }
}
