.workerModalTag{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em;
    border-radius: 3px;
    margin-top: 8px;
    gap: 8px;


    .tagItem{
        display: inline-block;
        padding: 8px 12px 8px 12px;
        box-sizing: border-box;
        border-radius: 10px;
        background: rgba(244, 244, 244, 0.02);
    }
    .tagItem__close{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        color: white;
        margin-left: 5px;
        cursor: pointer;
        
    }
    .tagItem__text{
        font-size: 16px;
    }
}