.workersModal {
  display: flex;
  padding-left: 20px;
  position: fixed;
  z-index: 1;
  left: 516px;
  top: 158px;
  width: 480px;
  height: 489px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow:
    4px 4px 100px 0px rgba(0, 0, 0, 0.05),
    -4px -4px 100px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(60px);
  background: rgba(32, 32, 33, 0.8);

  transition: transform 0.3s ease-out;
}

.workersModal__upload {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 88px;
    border: 1px dashed rgb(106, 17, 195);
    border-radius: 20px;
    background: rgba(106, 17, 195, 0.12);
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    img {
      margin-right: 20px;
    }
  }
}

.or {
  text-align: center;
}

.btn_collaborator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 88px;
  box-sizing: border-box;
  border: 1px solid rgb(106, 17, 195);
  border-radius: 20px;
  background: rgba(106, 17, 195, 0.12);
  font-size: 20px;
  cursor: pointer;
  img {
    margin-right: 20px;
  }
}
.workersModal__formCheckbox {
  form {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 20px;
  }
}

.checkboxType {
  width: 28px;
  height: 28px;
}

.text__title {
  color: white;
  font-size: 16px;
  margin: 0;
}
.text__description {
  margin: 0;
  opacity: 0.5;
  font-size: 12px;
}

.btnGroups {
  position: relative;
  top: 66px;
  left: 185px;
}
.btn__close {
  width: 124px;
height: 36px;
font-size: 18px;
  box-sizing: border-box;
  border-radius: 10px;
  backdrop-filter: blur(12px);
  background: rgba(244, 244, 244, 0.06);
  opacity: 0.8;
  border: none;
  margin-right: 12px;
  cursor: pointer;
  img{
    position: relative;
    top: 4px;
    right: 6px;
    border:1px dotted gray
  }
}

.btn__add{
  width: 124px;
  height: 36px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 10px;
  backdrop-filter: blur(12px);
  background: rgba(106, 17, 195, 0.32);
    border: none;
    margin-right: 12px;
    cursor: pointer;
    img{
      position: relative;
      top: 4px;
      right: 6px;
      border:1px dotted gray
    }
}
