.workerInitial {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.workerAvatar {
  padding-left: 24px;
}
.small .workerAvatar {
  width: 48px;
  height: 48px;
}
.large .workerAvatar {
  width: 72px;
  height: 72px;
}

.workerName {
<<<<<<< HEAD:src/pages/Workers/WorkerPage/WorkerInitial/WorkerInitial.module.scss
  font-size: 24px;
  font-weight: 500;

  color: #fff;
  font-weight: 700;
  line-height: 56px;

}
=======
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 56px;
  }
>>>>>>> 1795f636b9e2f4c151d22d8d1510a5b189f1cdf4:src/pagesWorker/MyPage/WorkerInitial/WorkerInitial.module.scss
.workerMail {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.72;
}
.hidden {
  display: none; // Стиль для скрытия элемента
}
