.changePasswordForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;

  div {
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 8px;
    }
    .passwordCurrentToggle {
      position: absolute;
      right: 90px;
      top: 207px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .passwordNewToggle {
      position: absolute;
      right: 90px;
      top: 281px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .changePasswordButton {
    display: flex;
    justify-content: center;

    button {
      display: flex;
      justify-content: center;
      padding: 10px;
      margin-top: 10px;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      width: 170px  ;
      background-color: #6A11C3;
      transition:
        background-color 0.3s,
        transform 0.3s;
      &:hover {
        border: none;
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }
}
