.workerModalAddUser{
  position: relative;
  z-index: 1002;
}

.title {
  display: flex;
  position: relative;
  left: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  img{
   margin-right: 20px;
  }
}
.formFilling__rightContent{
  visibility: inherit;
}
.closeButton{
  position: absolute;
  right: 6px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
.WorkersModalAddUserContent {
  position: fixed;
  left: 436px;
  top: 96px;
  width: 670px;
  height: 718px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow:
    4px 4px 100px 0px rgba(0, 0, 0, 0.05),
    -4px -4px 100px 0px rgba(0, 0, 0, 0.05);

    background: linear-gradient(160deg, rgba(40,1,79,1) 0%, rgba(84,20,148,1) 99%);
}
.header {
  display: flex;
  align-items: center;
  margin-left: 20px;

  .avatarUser {
    position: relative;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    cursor: pointer;
  }
  .workerLoginAdd {
    margin-top: 63px;
    margin-left: 30px;
    margin-bottom:  30px;
    input {
      color: white;
      padding-left: 10px;
      position: relative;
      width: 555px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid #F4F4F4;
      border-radius: 10px;
      background: rgba(244, 244, 244, 0.02);
    }
  }
}


.description__title {
  margin: 0;
  font-size: 16px;

}

.workersModalAddUser__input {
  color: white;
  padding-left: 10px;
  width: 256px;
  height: 36px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(244, 244, 244, 0.06);
  border: 1px solid #F4F4F4;
}

.formFilling {
  display: flex;
  justify-content: space-evenly;
}
.btnAddTag{
  position: relative;
  top: -26px;
    left: -25px;
    font-size: 20px;
  width: 16px;
  height: 16px;
  background: none;
  border: none;
}
.checkbox__link{
  form{
    label{
      display: flex;
      align-items: center;
      margin-left: 20px;
      
        input{
          color: white;
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
    }
  }
}
.workerBirthdayAdd {
 
  input {
    color: white;
    background-image: url("../../../assets/dateIcon.svg");
    background-repeat: no-repeat;
    background-position: 9px 9px;
    padding-left: 29px;
    
  }
}
.workerNameAdd{
  margin-bottom: 16px;
}
.workerSecondNameAdd{
  margin-bottom: 16px;
}
.workerPatronymiAdd{
  margin-bottom: 16px;
}
.workerPhone{
  margin-bottom: 16px;
}
.workerPassword{
  margin-bottom: 16px;
}
.workerPositionAdd{
  margin-bottom: 16px;
}
// .workerEmailAdd{

//   margin-left: 103px;

//     input {
//       color: white;
//       padding-left: 10px;
//       position: relative;
//       width: 215px;
//       height: 36px;
//       box-sizing: border-box;
//       border: none;
//       border-radius: 10px;
//       background: rgba(244, 244, 244, 0.02);
//     }
// }
.workerStartdateAdd {
  margin-bottom: 16px;
  input {
    color: white;
    background-image: url("../../../assets/dateIcon.svg");
    background-repeat: no-repeat;
    background-position: 9px 9px;
    padding-left: 29px;
  }
}
.btnGroups {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-left: 46px;
}
.btn__close {
  width: 183px;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 16px;
  background:#6A11C3;
  opacity: 0.8;
  border: none;
  margin-right: 12px;
  cursor: pointer;

}

.btn__add {
  margin-right: 51px;
  width: 183px;
  height: 40px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 16px;
  background: #AB57FF;
  border: none;
  cursor: pointer;

}

.errorMessages{
  font-size: 14px;
  color: red;
  display: flex;
  justify-content: center;
}