button {
  color: white;
}
.banWorkerButton {
  visibility: inherit;
}
.ChangeWorkerButton {
  visibility: inherit;
}
.ChangeWorkerInformationButton {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  border-radius: 16px;
  text-decoration: none;
  background: none;
  border:none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  &:hover {
    opacity: 1;
    transform: scale(1.05);
    background-color: #f4f4f40a;
  }
  &.active {
    background-color: #f4f4f40a;
    color: #fff;

    opacity: 1;
    transform: scale(0.95);
  }
}
.deleteBanWorkerButton {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 16px;
  text-decoration: none;
  color: #e04242;
  opacity: 0.6;
  border: 0.5px solid #ea3d3d66;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  img {
    margin-right: 8px;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  &.active {
    background-color: #f4f4f40a;
    color: #fff;
    opacity: 1;
    transform: scale(0.95);
  }
}
.linkWorkerButton {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  border: 0.5px solid #f4f4f410;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  img {
    margin-right: 8px;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  &.active {
    background-color: #f4f4f40a;
    color: #fff;
    opacity: 1;
    transform: scale(0.95);
  }
}


.giveAchieveButton {   //копипаста из .linkWorkerButton
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  border: 0.5px solid #f4f4f410;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
  img {
    margin-right: 8px;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
  &.active {
    background-color: #f4f4f40a;
    color: #fff;
    opacity: 1;
    transform: scale(0.95);
  }
}

.allAchieveButton {   //копипаста с .ChangeWorkerInformationButton
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 60px;
  padding: 8px 8px;
  border-radius: 16px;
  background: #6A11C3;;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
&:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  &.active {
    background-color: #f4f4f40a;
    color: #fff;
    opacity: 1;
    transform: scale(0.95);
  }
}


.searchInputContainer {
  border: none;
  .searchInput {
    font-size: 16px;
    color: white;
    padding-left: 40px;
    width: 554px;
    height: 40px;
    border: none;
    background: url("@/assets/search-icon.svg") no-repeat, none;
    background-position: 6px 9px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(244, 244, 244, 0.04);
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
    &.active {
      background-color: #f4f4f40a;
      border: none;
      opacity: 1;
      transform: scale(0.95);
    }
  }
}


