.workerInitial {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.workerAvatar {
  visibility: inherit;
}
.small .workerAvatar {
  margin-left: 24px;
  border-radius: 100%;
  width: 48px;
  height: 48px;
}
.large .workerAvatar {
  border-radius: 100%;
  width: 72px;
  height: 72px;
}

.workerName {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 56px;
  }
  .genderIcon {
    color: white;
    width: 20px;
    height: 20px;
  }  
.workerMail {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.72;
}
.hidden {
  display: none; // Стиль для скрытия элемента
}
