@import "@/styles/configcss.scss";

nav {
  display: flex;
  flex-direction: row;
  text-align: left;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.routes {
  flex-grow: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
  background-color: $main-background-color;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  height: 76px;
  background-color: $main-background-color;

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 12px 18px;
      border-radius: 16px;
      text-decoration: none;
      color: #fff;
      opacity: 0.6;
      border: 0.5px solid #f4f4f410;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-right: 16px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      img {
        margin-right: 8px;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }

      &.active {
        background-color: #f4f4f40a;
        color: #fff;
        opacity: 1;
        transform: scale(0.95);
      }
    }

 .privacy-settings {
  position: relative;
    display: flex;
    align-items: center;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }

    h1 {
      margin-left: 12px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }

    // .down-arrow {
    //   cursor: pointer;
    //   margin-left: -10px;
    //   margin-right: 26px;
    //   width: 20px;
    //   height: 20px;
    //   transition: transform 0.3s;

    //   &:hover {
    //     transform: rotate(180deg);
    //   }
    // }
  }


  .privacy-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }

    h1 {
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
  }
}



// //на будущее - выпадающее меню:
// .navigation-menu-dop {
//   display: flex;
//   //flex-direction: column;
//   align-items: center;
//   //padding-top: 10px;
//   background-color: $main-background-color;

//   .dropdown-menu {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .menu-item {
//       display: flex;
//       align-items: center;
//       padding: 8px 12px;
//       border-radius: 12px;
//       text-decoration: none;
//       color: #fff;
//       opacity: 0.8;
//       border: 0.5px solid #f4f4f410;
//       font-size: 14px;
//       font-weight: 500;
//       line-height: 18px;
//       margin-bottom: 8px;
//       cursor: pointer;
//       transition: background-color 0.3s, transform 0.3s;

//       img {
//         margin-right: 6px;
//       }

//       &:hover {
//         opacity: 1;
//         transform: scale(1.05);
//       }
//     }
//   }
// }

// .dropdown-menu-1 {
//   position: relative;
//   left: 270px;
// }
// .dropdown-menu-2 {
//   position: relative;
//   left: 990px;
// }