@import "../../styles/configcss.scss";
nav {
  display: flex;
  flex-direction: row;
  text-align: left;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.routes {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: rgb(116, 170, 204);
}
.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  height: 76px;
}
.logo-container {
  align-items: center;
  margin: 40px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 16px;
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    border: 0.5px solid #f4f4f410;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 16px;
    img {
      margin-right: 8px;
    }
    &.active {
      background-color: #f4f4f40a;
      color: #fff;
      opacity: 1;
    }
  }
}
